/*
 * Global
 * ------------------
 */
html {
  position: relative;
  min-height: 100%;
}

body {
	padding-top:56px;
	margin-bottom: 70px;
}

.header-search-input {
	background-color: rgba(255,255,255,0.125);
	border: none;
	color: inherit;
}

.header-search-input:focus {
	background-color: rgba(255,255,255,0.175);
	color: #ddd;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}

/*
 * Left Sidebar
 */
.sticky-top,
.sidebar-menu {
  position: sticky;
	top: 65px;
}
.sidebar-menu a {
  color: #444;
  padding-right: 0;
}
.sidebar-menu a:hover {
  text-decoration: none;
}
.sidebar-menu > .header {
  color: #848484;
  padding: 15px 5px 3px;
  font-size: 12px;
}
.sidebar-menu > a,
.sidebar-menu .treeview-menu > div > a {
  padding: 3px 5px;
  display: block;
  font-weight: 500;
}
.sidebar-menu > a:hover,
.sidebar-menu > a:active {
  background: #f5f5f5;
}
.sidebar-menu a[aria-expanded=true] i {
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
}
.sidebar-menu a > .fa {
  width: 20px;
}
.sidebar-menu a > .badge,
.fa-angle-left.pull-right {
  margin-top: 3px;
}
.sidebar-menu .treeview-menu {
  list-style: none;
  padding-left: 0;
}
.sidebar-menu .treeview-menu > div a {
  font-weight: 400;
}
.treeview-menu > div.active > a,
.treeview-menu > div:hover > a {
  background: #f5f5f5;
}

.card {
  margin: 10px 5px 10px 10px;
  border-radius: 0;
}

@media (max-width: 767px) {
  .sidebar {
    background: #343a40;
    padding-left: 0;
    padding-right: 0;
  }
  .sidebar-menu {
    position: static;
    overflow-x: auto;
    white-space: nowrap;
    display: block;
  }
  .sidebar-menu a {
    padding: 5px 12px;
    display: inline-block;
    background: #343a40;
    color: rgba(255,255,255,.5);
    font-weight: normal;
  }
  .sidebar-menu a:hover {
    background: #343a40;
    color: #ffffff;
  }
  .treeview-menu {
    position: absolute;
    background: #343a40;
    z-index: 1029;
    left: 0;
    right: 0;
    text-align: center;
  }
  .treeview-menu > div > a:visited {
    color: #fff;
    background: #343a40;
  }
  .sidebar-menu > div.header,
  .sidebar-menu a > span.badge {
    display: none;
  }
  .fa-angle-left.pull-right {
    margin-top: 4px;
  }
}

/*
 * Content
 */
.content-container {
  margin-top: 10px;
}
.content-container > div {
  margin-bottom: 20px;
}

/*
 * Register
 */
.register {
  margin-top: 30px;
}

/*
 * Timeline
 */
.box {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.box-header,
.box-body,
.box-footer {
  padding: 10px;
}
.box-header {
  display: block;
  position: relative;
}
.box-header > .box-tools {
  position: absolute;
  right: 5px;
  top: 5px;
}
.btn-box-tool {
  padding: 5px;
  font-size: 12px;
  background: transparent;
  color: #97a0b3;
}
.btn-action {
  padding: 0;
  background: transparent;
}
.user-block img {
  width: 40px;
  height: 40px;
  float: left;
}
.user-block .name,
.user-block .description,
.user-block .comment {
  display: block;
  margin-left: 50px;
}
.user-block .name {
  font-size: 16px;
  font-weight: 600;
}
.user-block .description {
  color: #999;
  font-size: 13px;
}
.box-comments {
  background: #f7f7f7;
}
.box-comments .box-comment {
  padding: 8px 0;
  border-bottom: 1px solid #eee;
}
.box-comments .box-comment:last-of-type {
  border-bottom: 0;
}
.box-comments .box-comment:first-of-type {
  padding-top: 0;
}
.box-comments .box-comment img {
  width: 32px;
  height: 32px;
  float: left;
}
.box-comments .comment-text {
  margin-left: 40px;
}
.box-comments .name {
  display: block;
  font-weight: 600;
}
.box-comments .text-muted {
  font-weight: 400;
  font-size: 12px;
}

/*
 * No Match
 */
body .not-found {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url('../images/inflicted.png')
}
